.card {
    width: 60rem;
    min-height: 30rem;
    padding: 50px;
    background-color: rgb(203, 173, 231);
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.tododiv {
    width: 40rem;
    margin: auto;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

.card ul {
    padding: 0 10px;
}

.completed {
    color: grey;
}
.delete {
    margin-left: 1rem;
}
.todoName{
    width: 20rem;
    text-align: start;
}

.editLink{
    text-decoration: none;
}

.form {
    margin-top: 5rem;
}
.form button {
    width: 100px;
    height: 2rem;
    border-radius: 10px;
    border: none;
}
.form button:hover {
    background-color: rgb(184, 143, 223);
    color: white
}

.form input {
    height: 2rem;
    border-radius: 10px;
    border: none;
}